.completeInfo-container{
  height: 100vh;
  overflow-y: auto;
  .btn{
    line-height: 80px;
    height: 80px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-top: 10px;
  }
  .btn1{
    color: #666;
  }
  .input-box{
    background-color: white;
    padding-bottom: 100px;
  }
}